.Board {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow-x: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.Board--add-edit-button {
  margin-left: 8px;

  .AddEditButton {
    width: 272px;
  }
}