.PageLayout {
  display: flex;
  height: 100%;
  flex-direction: column;

  &.centered {
    text-align: center;
  }

  header {
    text-align: center;
  }

  >.page-content {
    position: relative;
    flex-grow: 1;
  }
}